/* .line {
    width: 3.75em;
    height:  0.3125em;
    border-bottom: solid 0.125em #1B63F0;
}
.card{
    width:25.9375em;
    height:  16.5em;
    background-color: #D6FAE7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.footer-main-back{
    background-image: url('/ls_0/src/images/footer-mail-back.svg');
    background-size: cover;
    width: inherit;
    height: inherit;
} */
/* online course */
/* .photo-pic-background{
    background-image: url('/ls_0/src/images/photo-1.png');
    width: 270px;
    height: 364px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */