.line {
    width: 60px;
    height: 5px;
    border-bottom: solid 2px #1B63F0;
}
.card{
    width: 415px;
    height: 264px;
    background-color: #D6FAE7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}